<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]SheepFit</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>

 
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://localhost:5001/"><img src="http://trentschroeder.com/sheep/logo.png" alt="sheep" border="0" height="50" width="100" > </a>

                </div>
                 

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                <a class="nav-link" href="http://localhost:5001/">Home <span class="sr-onlyt">(current)</span></a>
            </li>
           <li class="nav-item active">
                <a class="nav-link" href="/animals">Health Records <span class="sr-onlyt">(current)</span></a>
            </li>
             </ul>
            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;SheepFit - Developed by Allie Begg, Edina Celic, Laura Kehres, and Trent Schroeder.</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    

    @RenderSection("Scripts", required: false)
</body>
</html>
