<div>
    <center>
        <br>
    <h1>Welcome to SheepFit!</h1>
    <br>
    <h4>SheepFit is a web application that allows sheep owners to manage the health of their animals.</h4>
    <br>
    </center>
</div>

<div>
    <center>
    <img src="https://preview.ibb.co/hGJB7S/sheep.jpg" alt="sheep" border="0">

    </center>
</div>
